@import "../styles/index";


.app {
    max-width:1280px;
    margin:0 auto;
}

side-nav, .main-content {
    position:relative;
    float:left;
}

side-nav {
    width:200px;
}

:host::after {
    display:block;
    content: " ";
    clear:both;
    font-size:0;
}